:root
  --set1-1 #e41a1c
  --set1-2 #377eb8
  --set1-3 #4daf4a
  --set1-4 #984ea3
  --set1-5 #ff7f00
  --set1-6 #ffff33
  --set1-7 #a65628

  --bright-1 #023eff
  --bright-2 #ff7c00
  --bright-3 #1ac938
  --bright-4 #e8000b
  --bright-5 #8b2be2
  --bright-6 #9f4800
  --bright-7 #f14cc1

  --husl-1 #f77189
  --husl-2 #c69432
  --husl-3 #82a931
  --husl-4 #34af8a
  --husl-5 #37aabb
  --husl-6 #8197f4
  --husl-7 #f45deb

  --magma-1 #0c0786
  --magma-2 #5c00a5
  --magma-3 #9b179e
  --magma-4 #cb4777
  --magma-5 #ec7853
  --magma-6 #fdb32e
  --magma-7 #eff821

  --inferno-1 #000003
  --inferno-2 #32095d
  --inferno-3 #781c6d
  --inferno-4 #bb3754
  --inferno-5 #ed6825
  --inferno-6 #fbb51a
  --inferno-7 #fcfea4

  --viridis-1 #440154
  --viridis-2 #443982
  --viridis-3 #30678d
  --viridis-4 #20908c
  --viridis-5 #35b778
  --viridis-6 #90d643
  --viridis-7 #fde724

  --coolwarm-m3 #6282ea
  --coolwarm-m2 #8db0fe
  --coolwarm-m1 #b9d0f9
  --coolwarm-0 #dddcdc
  --coolwarm-p1 #f5c4ac
  --coolwarm-p2 #f4987a
  --coolwarm-p3 #dd5f4b

  --vlag-m3 #678bbe
  --vlag-m2 #9baecb
  --vlag-m1 #cfd4e0
  --vlag-0 #faf5f4
  --vlag-p1 #e7c8c6
  --vlag-p2 #d39794
  --vlag-p3 #bf6765
