*
  box-sizing border-box
  margin 0
  max-width 100%
  padding 0

:root
  font-family 'Fira Sans Condensed', sans-serif
  font-size clamp(1rem, calc(1rem + ((1vw - 1.6px) * 1.1111)), 2rem)
  line-height 1.5

body
  background hsl(0deg, 0%, 10%)
  color hsl(0deg, 0%, 90%)

a
  color hsl(210deg, 70%, 70%)

code
kbd
pre
  font-family 'Inconsolata', monospace

nav
  background hsl(30deg, 25%, 25%)
  top 0
  height 2.5em
  position sticky
  z-index 10

  ul
    align-items center
    display flex
    gap 0.1em
    height 100%
    padding 0 0.2em

    li
      flex 0 0 auto

      &.sep
        flex 1 1 auto

      a
        border-radius 1em
        display inline-block
        height 2em
        line-height 2em
        text-align center
        text-decoration none
        width 2em

        &.active
          background-color hsla(0deg, 0%, 0%, 0.5)
        &:hover
          background-color hsla(0deg, 0%, 50%, 0.3)

ol
ul
  list-style none
  padding-left 0

input
button
select
  background hsl(50deg, 50%, 93%)
  border none
  border-radius 0.3em
  font-size larger
  padding 0.3em

input
  width 4em

textarea
  border none

button
  background hsl(210deg, 50%, 90%)
  color hsl(210deg, 50%, 40%)
  cursor pointer
  opacity 0.9
  text-align center

  &[disabled]
    background hsl(0deg, 10%, 90%)
    color hsl(0deg, 10%, 80%)

  &.add
  &.delete
  &.remove
    font-weight bold
    height 1.25em
    line-height 1
    padding 0
    width 1.25em

  &.delete
  &.remove
    background hsl(0, 50%, 80%)
    color hsl(0, 80%, 40%)

  &:hover
    opacity 1

.leaflet-container
  width 100%
  height 10rem

  .leaflet-control-attribution
    font-family 'Fira Sans Condensed', sans-serif
    font-size 0.5em

.container
  margin 0.5rem

.toggle
  -moz-user-select none
  -ms-user-select none
  -webkit-user-select none
  background hsl(150deg, 0%, 100%)
  border solid 0.1rem #ccc
  border-radius 0.7rem
  cursor pointer
  display inline-block
  height 1.4rem
  margin 0 0.5rem
  position relative
  top 0.3rem
  transition background-color 0.2s ease-in
  width 2.5rem

  &:before
    background hsl(150deg, 100%, 90%)
    border solid 0.1rem #ccc
    border-radius 100%
    box-sizing border-box
    content ''
    display block
    height 1rem
    margin 0
    position absolute
    right 1.2rem
    top 0.1rem
    transition all 0.2s ease-in 0s
    width 1rem

  &.toggled
    background hsl(150deg, 80%, 40%)
    border-color hsl(150deg, 80%, 40%)

    &:before
      border-color hsl(150deg, 80%, 90%)
      right 0.1rem

.meter
  display flex

  span
    flex 0 0 auto
  .label
    flex 1 0 3em
  .emoji
    flex 0 0 1.5em

  .value
    font-weight bold
    text-align right

    &.can-edit
      cursor pointer

  .unit
    margin-left 0.5em

    &.options-2
    &.options-3
    &.options-4
      cursor pointer

      &:before
        color hsl(300, 70%, 30%)
        content '⟳ '
