:root
  font-family Inter, sans-serif
  font-size clamp(1rem, calc(1rem + ((1vw - 1.6px) * 1.1111)), 2rem)
  line-height 1.5

code, kbd, pre
  font-family 'Inconsolata', monospace

nav
  align-items center
  background hsl(0, 0%, 10%)
  color hsl(0, 0%, 90%)
  display flex
  gap 0.1em
  height 2.5em
  margin 0
  padding 0 0.2em
  position sticky
  text-align center
  top 0
  z-index 10

  & > *
    flex 0 0 auto

  & > .sep
    flex 1 1 auto

  a
    border-radius 0.1em
    height 2em
    line-height 2em
    text-decoration none
    width 2em

    &:hover
      background-color hsla(0, 0%, 50%, 0.3)

.checkbox-label
  align-items center
  display flex
  gap 0.5em

input:focus
  outline-color hsl(210deg, 50%, 50%)

input[type='checkbox']
  -webkit-appearance none
  appearance none
  background-color transparent
  border 0.1em solid currentColor
  border-radius 0.1em
  color currentColor
  display grid
  height 1.1em
  margin 0
  place-content center
  transform translateY(-0.075em)
  width 1.1em

  &::before
    background-color CanvasText
    box-shadow inset 1em 1em #000
    clip-path polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%)
    content ''
    height 0.65em
    transform scale(0)
    transform-origin bottom left
    transition 120ms transform ease-in-out
    width 0.65em

  &:checked::before
    transform scale(1)

  &:focus
    outline max(2px, 0.1em) solid #bdf
    outline-offset max(2px, 0.1em)

input[type='number']
  width 3em

input[type='range']
  width 8em

input[type='text']
  width 5em

textarea
  min-height 8em

button
  &.add
  &.delete
  &.remove
    font-weight bold
    height 1.5em
    line-height 1
    min-width 1.5em
    padding 0.1em 0.3em

  &.delete
  &.remove
    background hsl(0, 50%, 80%)
    color hsl(0, 80%, 40%)

.container
  display flex
  flex-flow column

  h2:first-child
    margin 0
    padding-left 3rem

  & > *
    padding 0.5em

    &:nth-child(odd)
      background hsl(0, 0%, 95%)

.flex-row
  display flex
  flex-flow row
  gap 0.5em

  & > .spacer
    width 2rem

.metric
  .value
    font-weight bold
    text-align right

    &.can-edit
      cursor pointer

  .unit
    &.options-2
    &.options-3
    &.options-4
    &.options-5
      cursor pointer

      &:after
        color hsl(300, 70%, 30%)
        content ' ⟳ '
