:root
  font-family Inter, sans-serif
  font-size clamp(1rem, calc(1rem + ((1vw - 1.6px) * 1.1111)), 2rem)
  line-height 1.5

code, kbd, pre
  font-family 'Inconsolata', monospace

nav
  align-items center
  background hsl(0, 0%, 10%)
  color hsl(0, 0%, 90%)
  display flex
  gap 0.1em
  height 2.5em
  margin 0
  padding 0 0.2em
  position sticky
  text-align center
  top 0
  z-index 10

  & > *
    flex 0 0 auto

  & > .sep
    flex 1 1 auto

  a
    border-radius 0.1em
    height 2em
    line-height 2em
    text-decoration none
    width 2em

    &:hover
      background-color hsla(0, 0%, 50%, 0.3)

input
  margin 0 0.2em
  width 5em

textarea
  min-height 8em

button
  &.add
  &.delete
  &.remove
    font-weight bold
    height 1.5em
    line-height 1
    min-width 1.5em
    padding 0.1em 0.3em

  &.delete
  &.remove
    background hsl(0, 50%, 80%)
    color hsl(0, 80%, 40%)

.container
  margin 0.5rem

.toggle
  -moz-user-select none
  -ms-user-select none
  -webkit-user-select none
  background-color hsla(150, 0%, 100%, 0.3)
  border solid 0.1rem #ccc
  border-radius 0.7rem
  cursor pointer
  display inline-block
  height 1.4rem
  margin-right 0.5em
  position relative
  top 0.3rem
  transition background-color 0.2s ease-in
  width 2.5rem

  &:before
    background-color hsla(150, 100%, 90%, 0.3)
    border solid 0.1rem hsla(0, 0%, 50%, 0.1)
    border-radius 100%
    box-sizing border-box
    content ''
    display block
    height 1rem
    position absolute
    right 1.2rem
    top 0.1rem
    transition all 0.2s ease-in 0s
    width 1rem

  &.toggled
    background-color hsla(150, 80%, 40%, 0.7)
    border-color hsla(150, 80%, 40%, 0.7)

    &:before
      border-color hsla(150, 80%, 90%, 0.7)
      right 0.1rem

.metric
  .value
    font-weight bold
    text-align right

    &.can-edit
      cursor pointer

  .unit
    &.options-2
    &.options-3
    &.options-4
    &.options-5
      cursor pointer

      &:after
        color hsl(300, 70%, 30%)
        content ' ⟳ '
