#app > .snapshot
  .habits
  .metrics
    display flex
    flex-flow column
    gap 0.5em

  .note .rendered
    height 100%

    &:hover
      background-color hsla(0, 0%, 50%, 0.1)

    & > :first-child
      margin-top 0

    & > :last-child
      margin-bottom 0

  .map
    .leaflet-container
      aspect-ratio 3
      min-height 6em
      width 100%

      .leaflet-control-attribution
        font-size 0.5em
