.snapshot
  display grid
  gap 0.5em
  grid-template-columns repeat(auto-fill, minmax(min(100%, 20em), 1fr))

  .rendered
    min-height 30vh

    &:hover
      background-color hsla(0, 0%, 50%, 0.1)
    p
      margin-bottom 0

.mood
  cursor pointer
  height 1.5rem
  margin 0.5rem 0 1rem
  position relative

  .bar
    background linear-gradient(90deg,
                               var(--coolwarm-m3),
                               var(--coolwarm-m2),
                               var(--coolwarm-m1),
                               var(--coolwarm-0),
                               var(--coolwarm-p1),
                               var(--coolwarm-p2),
                               var(--coolwarm-p3))
    display block
    height 1rem
    left 1rem
    opacity 0.5
    position absolute
    bottom 0
    right 1rem
    z-index 1

  .marker
    bottom -1px
    font-size 1.5rem
    line-height 1
    position absolute
    width 2rem
    z-index 2

  .lo
    left 0
  .cur
    margin-left -1rem
    text-align center
  .hi
    right 0
    text-align right

.when
  span
    display inline-block
    margin 0.2em 0 0 0.2em

  .H-mm-a
    display block
    font-size larger
  .dddd
    display block
  .M
    display none

.feels
  align-items center
  display flex
  flex-flow row
  justify-content space-evenly

  .dial .arc
    &.joy
      background hsla(50, 70%, 70%, 0.5)
    &.sadness
      background hsla(240, 70%, 70%, 0.5)
    &.anger
      background hsla(0, 70%, 70%, 0.5)
    &.fear
      background hsla(120, 70%, 70%, 0.5)
