.snapshot
  display grid
  grid-template-columns auto 1fr
  gap 0.5em
  padding 0.5em
  width 100%

  *
    grid-column 2

  .tab
    grid-column 1

  .rendered
    height 100%

    &:hover
      background-color hsla(0, 0%, 50%, 0.1)
    p
      margin-bottom 0

.leaflet-container
  aspect-ratio 4
  min-height 6em
  width 100%

  .leaflet-control-attribution
    font-family 'Fira Sans Condensed', sans-serif
    font-size 0.5em

.mood
  background linear-gradient(90deg,
                             var(--coolwarm-m3),
                             var(--coolwarm-m2),
                             var(--coolwarm-m1),
                             var(--coolwarm-0),
                             var(--coolwarm-p1),
                             var(--coolwarm-p2),
                             var(--coolwarm-p3))
  cursor pointer
  height 0.5em
  margin 1em 0
  position relative

  .marker
    font-size 2em
    line-height 1
    margin-left -0.6em
    position absolute
    text-align center
    top -0.3em
    width 0.2em

.feels
  align-items center
  display flex
  display none
  flex-flow row wrap
  justify-content space-evenly

  .dial .arc
    &.joy
      background hsla(50, 70%, 70%, 0.5)
    &.sadness
      background hsla(240, 70%, 70%, 0.5)
    &.anger
      background hsla(0, 70%, 70%, 0.5)
    &.fear
      background hsla(120, 70%, 70%, 0.5)
