.timeline
  overflow-x hidden
  user-select none
  width 100%

  .tick
    background-color hsla(0, 0%, 50%, 0.1)
    bottom 0
    position fixed
    top 0
    width 1px
    z-index 1

  .label
    color hsla(0, 0%, 50%, 0.3)
    display block
    font-size smaller
    position absolute
    bottom 0.25rem
    left 0.5rem

  .shadow
    background-color hsla(240, 33%, 33%, 0.1)
    height 100%
    position absolute

  .day
    height 2rem
    position relative
    z-index 1

    &.activated
      z-index 100

    &.the-1
      border-bottom dotted 3px hsla(0, 0, 0, 0.3)

    &.the-2, &.the-4, &.the-6, &.the-8, &.the-10, &.the-12, &.the-14, &.the-16,
    &.the-18, &.the-20, &.the-22, &.the-24, &.the-26, &.the-28, &.the-30
      background-color hsla(50, 30%, 30%, 0.1)
      &.Jan, &.Mar, &.May, &.Jul, &.Sep, &.Nov
        background-color hsla(180, 30%, 30%, 0.1)

    &.Sat, &.Sun
      background-image repeating-linear-gradient(
        50, transparent 0px, hsla(0, 0%, 30%, 0.1) 2px, transparent 4px, transparent 15px)

  .snapshot
    align-items stretch
    background transparent
    cursor pointer
    display flex
    height 1.5em
    margin-left -1em
    position absolute
    width 2em
    z-index 10

    .marker
    .button
      border solid 1px #888
      text-align center
      width 2em

    .marker
      background var(--coolwarm-0)
      border-radius 0.5em
      color #000
      &.neg3
        background var(--coolwarm-m3)
      &.neg2
        background var(--coolwarm-m2)
      &.neg1
        background var(--coolwarm-m1)
      &.pos1
        background var(--coolwarm-p1)
      &.pos2
        background var(--coolwarm-p2)
      &.pos3
        background var(--coolwarm-p3)
      &.wakeup
        background #888

    .button
      background #fff
      color #111
      position relative
      width 2em
      z-index -1

      &.delete
        color #c00
        border-color #c00
        border-right-width 0
        border-radius 1.5em 0 0 1.5em
        left 2.7em

      &.move
        border-left-width 0
        border-radius 0 1.5em 1.5em 0
        left -2.7em

    &.activated
      z-index 1001

      .button
        z-index 100
        left 0

  .duration
    background #888
    border-radius 0.1em
    height 0.5em
    opacity 0.5
    position absolute
    top 0.75em
    z-index 1
