.timeline

  .tick
    background #888
    bottom 0
    opacity 0.2
    position fixed
    top 0
    width 1px
    z-index 1

  .label
    color #888
    display block
    left 1rem
    position absolute
    top 0.25rem

  .shadow
    background #103
    height 100%
    opacity 0.05
    position absolute
    //background linear-gradient(90deg,
    //                           hsla(45, 100%, 70%, 0),
    //                           hsla(45, 100%, 70%, 0.018) 2%,
    //                           hsla(45, 100%, 70%, 0.047) 4%,
    //                           hsla(45, 100%, 70%, 0.119) 6%,
    //                           hsla(45, 100%, 70%, 0.269) 8%,
    //                           hsla(45, 100%, 70%, 0.500) 10%,
    //                           hsla(45, 100%, 70%, 0.731) 12%,
    //                           hsla(45, 100%, 70%, 0.881) 14%,
    //                           hsla(45, 100%, 70%, 0.953) 16%,
    //                           hsla(45, 100%, 70%, 0.982) 18%,
    //                           hsla(45, 100%, 70%, 1) 20%,
    //                           hsla(45, 100%, 70%, 1) 80%,
    //                           hsla(45, 100%, 70%, 0.982) 82%,
    //                           hsla(45, 100%, 70%, 0.953) 84%,
    //                           hsla(45, 100%, 70%, 0.881) 86%,
    //                           hsla(45, 100%, 70%, 0.731) 88%,
    //                           hsla(45, 100%, 70%, 0.500) 90%,
    //                           hsla(45, 100%, 70%, 0.269) 92%,
    //                           hsla(45, 100%, 70%, 0.119) 94%,
    //                           hsla(45, 100%, 70%, 0.047) 96%,
    //                           hsla(45, 100%, 70%, 0.018) 98%,
    //                           hsla(45, 100%, 70%, 0))

  .day
    height 2rem
    position relative
    z-index 1

    &.activated
      z-index 100

    &.the-1st
      border-bottom dotted 1px hsl(300, 100%, 70%)

    &.the-2nd, &.the-4th, &.the-6th, &.the-8th, &.the-10th, &.the-12th, &.the-14th, &.the-16th,
    &.the-18th, &.the-20th, &.the-22nd, &.the-24th, &.the-26th, &.the-28th, &.the-30th
      background hsl(50, 75%, 95%)

    &.Sat, &.Sun
      //background repeating-linear-gradient(85deg,
      //                                     transparent 0px,
      //                                     hsla(240, 100%, 70%, 0.2) 2px,
      //                                     transparent 4px,
      //                                     transparent 7px)
      background-image radial-gradient(#bdf 10%, transparent 30%),
                       radial-gradient(#bdf 10%, transparent 30%)
      background-position 0 0, 0.3rem 0.3rem
      background-size 0.6rem 0.6rem

    .event
      align-items stretch
      background transparent
      cursor pointer
      display flex
      height unquote('calc(1.5rem + 4px)')
      margin-left -1.5rem
      position absolute
      top unquote('calc((2rem - (1.5rem + 4px)) / 2)')
      z-index 10

      &.activated
        margin-left calc(0px - 1.5rem - 2.5rem)
        z-index 100

      .marker
      .button
        border solid 2px #888
        text-align center
        width 3rem

      .marker
        background var(--coolwarm-0)
        border-radius 0.2rem
        color #000
        &.neg.pol-3
          background var(--coolwarm-m3)
        &.neg.pol-2
          background var(--coolwarm-m2)
        &.neg.pol-1
          background var(--coolwarm-m1)
        &.pos.pol-1
          background var(--coolwarm-p1)
        &.pos.pol-2
          background var(--coolwarm-p2)
        &.pos.pol-3
          background var(--coolwarm-p3)
        &.wakeup
          background #888

      .button
        background #fff
        color #111
        width 2.5rem

        &.delete
          color #c00
          border-color #c00
          border-right-width 0
          border-radius 1.5rem 0 0 1.5rem

        &.move
          border-left-width 0

        &.edit
          border-left-width 0
          border-radius 0 1.5rem 1.5rem 0

    .span
      background #888
      border-radius 0.1rem
      height 0.5rem
      opacity 0.5
      position absolute
      top 0.75rem
      z-index 1

      &.workout
        background #f90
        border solid 1px #c60
        cursor pointer
        height 1rem
        top unquote('calc(0.5rem - 1px)')
