.meter
  display flex

  span
    flex 0 0 auto
  .label
    flex 0 0 5rem
  .emoji
    flex 0 0 1.5rem

  .value
    font-weight bold
    text-align right

    &.can-edit
      cursor pointer

  .unit
    margin-left 0.5rem

    &.options-2
    &.options-3
    &.options-4
      cursor pointer

      &:before
        color hsl(300, 70%, 30%)
        content '⟳ '

  input
    width 4rem

