@media screen and (max-width: 560px)
  iframe
    max-width 100% !important
    width auto !important
    height auto !important

.workouts
  display flex
  flex-flow row wrap
  gap 0.3rem 0.3rem
  justify-content space-evenly

  div
    background #ccc
    border solid 1px #999
    border-radius 0.1rem
    cursor pointer
    height 3rem
    text-align center
    width 30vw

.select-exercise
  h2
    display flex
    justify-content space-between

.exercise
  .name
    margin 0.5rem 0 0
