.workout

  h1
    display flex
    margin 0.3em 0

    *
      flex 0 0 auto

    .sep
      flex 1 1 auto

    button.start
      font-size 0.8em
      margin-right 0.5em
      padding 0 0.5em

    select
      font-size 0.7em
      line-height 0.7
      margin 0 0.2em
      padding 0 0.2em

  h2
    margin-top 0.5em

  .active-set
    margin 0.5em 0

    button.finish
      margin-right 0.5em

    img
      max-width 6em
      max-height 6em

    .finalize
      input
        width 6em

    .targets
      span
        display block

  iframe
    aspect-ratio 16 / 9
    max-width 100%
    width 560px

  .step-counter
  .path-tracker
  .heart-rate-monitor
    &.disabled
      opacity 0.5
    &.enabled
      opacity 1

.workout.new

  table.goals
    border-collapse collapse
    margin 1em 0

    td
    th
      padding 0 0.5em

    input
      font-size 0.8em
      width 4em

    tbody
      tr:nth-child(odd) td
        background hsl(0deg, 0%, 95%)
        &:last-child
          background transparent

      tr.defaults td
        background hsl(0deg, 0%, 100%)
        color hsl(0deg, 0%, 70%)
        &:last-child
          background transparent

    button.remove
    button.update-all
      font-size 0.7em
      opacity 0.4

      &:hover
        opacity 1

    button.update-all
      margin-left 0.5em

  .exercises
  .tags
    display flex
    flex-flow row wrap
    line-height 1
    padding 0

    li
      align-items center
      border-radius 0.5rem
      display flex
      flex 0 0 auto
      font-size smaller
      gap 0.5em

  .exercises
    gap 2em

    li
      width 10em

      button.add
        flex 0 0 1.5rem

      img
        border-radius 0.1em
        max-height 3em
        max-width 3em

  .tags
    gap 0.2rem
    margin 0.5em 0

    li
      background hsl(45deg, 50%, 90%)
      padding 0.5em 1em

      &.active
        background hsl(45deg, 50%, 80%)

  .other-workouts
    padding 0

    li
      max-width 90%
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

      .name
        font-weight bold
        margin-left 0.5em

      .exercise
        color #666
        font-size smaller
        margin 0.2em

        &::before
          content '/ '
